# 셀프 주유소는 정말 저렴할까

In [9]:
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

- 서울 자치구 리스트별 엑셀파일 다운받기

In [10]:
import pandas as pd
from glob import glob

2. 구별 휘발유 가격에 대한 데이터 정리

In [11]:
glob('D:/Workspace/DataAnalysis/05.Crawling/주유소/지역*.xls')                  # 파일 이름이 리스트형태로 나옴

['D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (1).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (10).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (11).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (12).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (13).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (14).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (15).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (16).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (17).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (18).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (19).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (2).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (20).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (21).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (22).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (23).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (24).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (25).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (3).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (4).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (5).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (6).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (7).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (8).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소) (9).xls',
 'D:/Workspace/DataAnalysis/05.Crawling/주유소\\지역_위치별(주유소).xls']

In [15]:
file = glob('D:/Workspace/DataAnalysis/05.Crawling/주유소/지역*.xls')[0]
df = pd.read_excel(file,header=2)

df_list = []
for file in glob('D:/Workspace/DataAnalysis/05.Crawling/주유소/지역*.xls'):
    df = pd.read_excel(file,header=2)
    df['구'] = df.주소.str.split().str[1]
    df = df[['상호','주소','휘발유','셀프여부','상표','구']]
    df.rename(columns={'휘발유':'가격','셀프여부':'셀프'}, inplace=True)
    df = df[df.가격 != '-']
    df.가격 = df.가격.astype(int)
    df.info()
    df.sort_values(by='가격', ascending=True)
    chippest = df.drop(df.index[1:])
    expensive_list = df.sort_values(by='가격', ascending=False)
    expensive = expensive_list.drop(expensive_list.index[1:])
    df_list.append(df)

df_make = pd.concat([expensive,chippest])
#df.shape
df_make

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      33 non-null     object
 1   주소      33 non-null     object
 2   가격      33 non-null     int32
 3   셀프      33 non-null     object
 4   상표      33 non-null     object
 5   구       33 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      16 non-null     object
 1   주소      16 non-null     object
 2   가격      16 non-null     int32
 3   셀프      16 non-null     object
 4   상표      16 non-null     object
 5   구       16 non-null     object
dtypes: int32(1), object(5)
memory usage: 832.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      19 non-null     object
 1   주소      19 non-null     object
 2   가격      19 non-null     int32
 3   셀프      19 non-null     object
 4   상표      19 non-null     object
 5   구       19 non-null     object
dtypes: int32(1), object(5)
memory usage: 988.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      10 non-null     object
 1   주소      10 non-null     object
 2   가격      10 non-null     int32
 3   셀프      10 non-null     object
 4   상표      10 non-null     object
 5   구       10 non-null     object
dtypes: int32(1), object(5)
memory usage: 520.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      12 non-null     object
 1   주소      12 non-null     object
 2   가격      12 non-null     int32
 3   셀프      12 non-null     object
 4   상표      12 non-null     object
 5   구       12 non-null     object
dtypes: int32(1), object(5)
memory usage: 624.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      15 non-null     object
 1   주소      15 non-null     object
 2   가격      15 non-null     int32
 3   셀프      15 non-null     object
 4   상표      15 non-null     object
 5   구       15 non-null     object
dtypes: int32(1), object(5)
memory usage: 780.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      32 non-null     object
 1   주소      32 non-null     object
 2   가격      32 non-null     int32
 3   셀프      32 non-null     object
 4   상표      32 non-null     object
 5   구       32 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      17 non-null     object
 1   주소      17 non-null     object
 2   가격      17 non-null     int32
 3   셀프      17 non-null     object
 4   상표      17 non-null     object
 5   구       17 non-null     object
dtypes: int32(1), object(5)
memory usage: 884.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      24 non-null     object
 1   주소      24 non-null     object
 2   가격      24 non-null     int32
 3   셀프      24 non-null     object
 4   상표      24 non-null     object
 5   구       24 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      32 non-null     object
 1   주소      32 non-null     object
 2   가격      32 non-null     int32
 3   셀프      32 non-null     object
 4   상표      32 non-null     object
 5   구       32 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      25 non-null     object
 1   주소      25 non-null     object
 2   가격      25 non-null     int32
 3   셀프      25 non-null     object
 4   상표      25 non-null     object
 5   구       25 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      14 non-null     object
 1   주소      14 non-null     object
 2   가격      14 non-null     int32
 3   셀프      14 non-null     object
 4   상표      14 non-null     object
 5   구       14 non-null     object
dtypes: int32(1), object(5)
memory usage: 728.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      26 non-null     object
 1   주소      26 non-null     object
 2   가격      26 non-null     int32
 3   셀프      26 non-null     object
 4   상표      26 non-null     object
 5   구       26 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      13 non-null     object
 1   주소      13 non-null     object
 2   가격      13 non-null     int32
 3   셀프      13 non-null     object
 4   상표      13 non-null     object
 5   구       13 non-null     object
dtypes: int32(1), object(5)
memory usage: 676.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      16 non-null     object
 1   주소      16 non-null     object
 2   가격      16 non-null     int32
 3   셀프      16 non-null     object
 4   상표      16 non-null     object
 5   구       16 non-null     object
dtypes: int32(1), object(5)
memory usage: 832.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      8 non-null      object
 1   주소      8 non-null      object
 2   가격      8 non-null      int32
 3   셀프      8 non-null      object
 4   상표      8 non-null      object
 5   구       8 non-null      object
dtypes: int32(1), object(5)
memory usage: 416.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      10 non-null     object
 1   주소      10 non-null     object
 2   가격      10 non-null     int32
 3   셀프      10 non-null     object
 4   상표      10 non-null     object
 5   구       10 non-null     object
dtypes: int32(1), object(5)
memory usage: 520.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      14 non-null     object
 1   주소      14 non-null     object
 2   가격      14 non-null     int32
 3   셀프      14 non-null     object
 4   상표      14 non-null     object
 5   구       14 non-null     object
dtypes: int32(1), object(5)
memory usage: 728.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      13 non-null     object
 1   주소      13 non-null     object
 2   가격      13 non-null     int32
 3   셀프      13 non-null     object
 4   상표      13 non-null     object
 5   구       13 non-null     object
dtypes: int32(1), object(5)
memory usage: 676.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      32 non-null     object
 1   주소      32 non-null     object
 2   가격      32 non-null     int32
 3   셀프      32 non-null     object
 4   상표      32 non-null     object
 5   구       32 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      14 non-null     object
 1   주소      14 non-null     object
 2   가격      14 non-null     int32
 3   셀프      14 non-null     object
 4   상표      14 non-null     object
 5   구       14 non-null     object
dtypes: int32(1), object(5)
memory usage: 728.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      14 non-null     object
 1   주소      14 non-null     object
 2   가격      14 non-null     int32
 3   셀프      14 non-null     object
 4   상표      14 non-null     object
 5   구       14 non-null     object
dtypes: int32(1), object(5)
memory usage: 728.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      21 non-null     object
 1   주소      21 non-null     object
 2   가격      21 non-null     int32
 3   셀프      21 non-null     object
 4   상표      21 non-null     object
 5   구       21 non-null     object
dtypes: int32(1), object(5)
memory usage: 1.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      11 non-null     object
 1   주소      11 non-null     object
 2   가격      11 non-null     int32
 3   셀프      11 non-null     object
 4   상표      11 non-null     object
 5   구       11 non-null     object
dtypes: int32(1), object(5)
memory usage: 572.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      15 non-null     object
 1   주소      15 non-null     object
 2   가격      15 non-null     int32
 3   셀프      15 non-null     object
 4   상표      15 non-null     object
 5   구       15 non-null     object
dtypes: int32(1), object(5)
memory usage: 780.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      10 non-null     object
 1   주소      10 non-null     object
 2   가격      10 non-null     int32
 3   셀프      10 non-null     object
 4   상표      10 non-null     object
 5   구       10 non-null     object
dtypes: int32(1), object(5)
memory usage: 520.0+ bytes

         상호                   주소    가격 셀프      상표    구
9    살피재주유소       서울 동작구 상도로 334  2135  N   SK에너지  동작구
0  창원이엔지주유소  서울 동작구 사당로 59 (상도동)  1964  N  현대오일뱅크  동작구